RewriteEngine on

# Exclude existing files and directories from the rewrite rule
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Set MIME types for JavaScript files
AddType application/javascript .js
AddType application/javascript-module .mjs

# Rewrite all other URLs to index.php
RewriteBase /


# PROVOQUE ERREUR TODO
# script-src 'self' 'unsafe-inline' 'unsafe-eval'; \
# style-src 'self' 'unsafe-inline'; \
# default-src 'self'; \
# font-src 'self' data:; \
### le connect-src provoque une erreur mais n'a pas crée de bug
# Content Security Policy headers
<IfModule mod_headers.c>
    Header set Content-Security-Policy "\
        img-src 'self' data:; \
        connect-src 'self'; \
        object-src 'none'; \
        frame-ancestors 'self'; \
        base-uri 'self'; \
        form-action 'self' \
    "
</IfModule>

# Redirection vers index.php pour toutes les URLs sauf celles existantes
RewriteRule ^(.+)$ index.php?url=$1 [NC,L]

# Accès direct à index.php autorisé
RewriteRule ^index\.php$ - [L]